@import "tailwindcss";

@theme {
  --color-bg: #000000;
  --color-secondary-bg: #000000;
  --color-secondary-bg-transparent: #00000000;
  --color-tertiary-bg: #252525;
  --color-secondary-bg-border: #050505;
  --color-text: #1d1d1d;
  --color-accent: #6eff75;
  --color-border: #313244;
  --color-input-bg: #313244;
  --color-input-text: #cdd6f4;
}
